@page "/"

<head>
    <PageTitle>Index</PageTitle>


    <style>
        @@font-face
        {
            font-family: 'Walle';
            src: url('../fonts/gunship.ttf');

        }
        .container-cover {
            left: 0px;
            width: 100%;
            height: 500px;
            background-image: url('../css/otra.jpg');
            position: absolute;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: auto;
        }

        .container-info-cover {
            max-width: 800px;
            height: 500px;
            margin: auto;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            z-index: 0;

        }

        .container-info-cover h1 {
            font-size: 60px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 20px;
            font-family: 'Walle';
        }

        .container-info-cover p {
            color: #fff;
            font-size: 20px;
            font-weight: 300;
            font-family: 'Walle';
        }

        .container-content {
            max-width: 65%;
            margin: auto;
            margin-top: 540px;
            font-family: 'Oswald', sans-serif;

        }

        article {
            width: 100%;
            padding: 20px;
            padding-bottom: 30px;
            box-shadow: -10px 0 -30px black;
            border-radius: 6px;
            overflow: hidden;
            position: relative;
        }

        article::before {
            content: '';
            width: 100%;
            height: 6px;
            position: absolute;
            top: 0;
            left: 0;
            background: rgb(55, 67, 232);
        }

        article h1 {
            margin-top: 20px;
            font-weight: 500;
            font-size: 40px;

        }
        article hr{
            margin-top: 20px;
            border: none;
            height: 100px;
            background-color: rgb(0, 0, 0);
        }

        article p {
            margin-top: 20px;
            font-size: 18px;
            color: #3c3c3c;
        }

        article img {
            width: 100%;
            margin-top: 20px;
        }

        .container-footer {
            width: 100%;
            padding: 40px;
            background: #eae9e9;
            margin-top: 40px;
        }

        .container-footer footer {
            max-width: 65%;
            margin: auto;
        }

        .container-footer footer .redes-footer {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .container-footer footer .redes-footer .github {
            font-size: 20px;
            margin: 20px;
            background: #d3d2d2;
            width: 140px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            color: #a2a2a2;
        }
        .container-footer footer hr{
            margin-top: 20px;
            border: none;
            height: 1px;
            background-color: rgb(186, 186, 186);
        }
        .container-footer h4{
            text-align: center;
            margin-top: 40px;
            color: #8e8e8e;
        }
        .container-footer h5{
            text-align: center;
            margin-top: 7px;
            color: #8e8e8e;
        }
        

    </style>
</head>

<body>

    <div class="container-cover">
        <div class="container-info-cover">
            <h1>WALL.E</h1>
            <p>Aqui va un resumen del proyecto</p>
        </div>

    </div>

    <div class="container-content">
        <article>
            <h1>Indice</h1>
            <p>
                
            </p>
            <hr>
            
            <h1>Titulo del blog</h1>
            <p>
                Para especificar las acciones que deberá realizar WallE para su análisis geométrico se utilizará un
                lenguaje de programación denominado G#. El lenguaje G# es un lenguaje funcional que no permite
                VARIABLES1
                . Un programa en G# se compone de una lista de instrucciones separadas por ‘;’. Las instrucciones
                permiten recibir
                argumentos de entrada, importar otros códigos, definir funciones o constantes, configurar
                características del visor y
                dibujar objetos geométricos.
            </p>
            
            
            <h1>Otra talla</h1>
            <p>
                No pueden existir dos argumentos con igual nombre y de distintos tipos. Los argumentos pueden requerirse
                en cualquier lugar del código pero serán provistos por la aplicación antes de la ejecución, sin importar
                si
                la ejecución termina requiriéndolos finalmente o no (por ejemplo, están dentro de una función que no se
                evalúa
                nunca). Un argumento se puede pedir varias veces en un mismo ámbito, pero no se puede referir si no está
                declarado
                en el ámbito actual o en algún ámbito padre. Por ejemplo, una función puede indicar que hace uso de un
                punto
                recibido como argumento de nombre p1, y luego en otro ámbito fuera de la función si se requiere trabajar
                con
                dicho punto se deberá indicar nuevamente.
            </p>
            <p>
                Los comandos color y restore permite escoger un color temporalmente a ser utilizado para los dibujos y
                luego restaurar el estado al color anterior. Los colores posibles son: blue, red, yellow, green, cyan,
                magenta,white, gray,black. En un inicio el color con que se dibuja en el lienzo es negro. Si se han
                restaurado todos los
                colores “apilados”con el comando color, entonces restore no tiene efecto.
            </p>
            <h1>Muela</h1>
            <p>
                WallE no conoce las coordenadas de un punto, pero puede utilizar el compás para señalar una medida entre
                dos puntos. Esta medida puede utilizarse para trazar una circunferencia en cualquier posición, para
                comparar
                con otra medida (si se tiene que abrir más o menos el compás para encajar con otro par de puntos).
            </p>
            <h1>Mas muela</h1>
            <p>
                Para ello en el lenguaje se debe realizar una inferencia de los tipos de las expresiones. A diferencia
                de otros lenguajes en los que las variables, parámetros y retornos de función tienen declarado los
                tipos, en G# solo se
                conoce los tipos de los argumentos de la aplicación (point, line, segment, etc.) y de las funciones
                intrínsecas
                (intersect, count, randoms, etc.)
            </p>





        </article>


    </div>

    <div class="container-footer">

        <footer>

            <div class="redes-footer">
                <a href="https://github.com/JabelResendiz/WALL-E" class="github"><i class="ri-github-fill"></i>Repositorio</a>
            </div>
            <hr>
            <h4>Tercer Proyecto de Programación</h4>
            <h5>Carrera de Ciencia de la Computación </h5>
            <h5>Universidad de La Habana</h5>
            <h5>2023</h5>
        </footer>


    </div>





</body>
