@page "/Graph"
@using GOLenguage;
@inject IJSRuntime JS

<PageTitle>GeoWallE</PageTitle>

<style>

    body{
        display:flex;
        justify-content: center;
        min-height: 100vh;
        background: url('../css/robots.jpg') no-repeat;
        background-size: cover;
        background-position: center;

    }

    .tarea{
        position: absolute;
        align: center;
        width: 500px;
        max-height: 650px;
        height: 550px;
        background: rgba(255,255,255,.1);
        box-shadow: 0 25px 45px rgba(0,0,0,.2);
        border-radius: 50px;
        border:2px solid rgba(255,255,255,.5);
        border-right: 2px solid rgba(255,255,255,.2);
        border-bottom: 2px solid rgba(255,255,255,.2);
        backdrop-filter: blur(10px);

        font-size:20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        margin:10px;
    }
    .console{

        position: absolute;
        top:650px;
        width: 500px;
        max-height: 300px;
        height: 270px;
        overflow: auto;
        cursor:pointer;

        background: rgba(255,255,255,.1);
        box-shadow: 0 25px 45px rgba(0,0,0,.2);
        border-radius: 50px;
        border:2px solid rgba(255,255,255,.5);
        border-right: 2px solid rgba(255,255,255,.2);
        border-bottom: 2px solid rgba(255,255,255,.2);
        backdrop-filter: blur(10px);

        
        
    }




    .graph{
        top:50%;
        left:30%;
        position:absolute;
        height:40px;
        width:80px;
        display:inline-block;
        color:white;
        background: #3498db;
        border: 1px solid transparent;
        font-size:14px;
        font-weight:500;
        border-radius:30px;
        text-transform: uppercase;
        transition:all .55s ease;
    }

    .remove{
        top:30%;
        left:30%;
        position:absolute;
        height:40px;
        width:80px;
        display:inline-block;
        color:white;
        background: #3498db;
        border: 1px solid transparent;
        font-size:14px;
        font-weight:500;
        border-radius:30px;
        text-transform: uppercase;
        transition:all .55s ease;
    }
</style>




<textarea class="tarea" @bind="Text" rows="10" cols="50" >Write Here!


</textarea>

<button type="default" class="graph" @onclick="Resultado">Graph</button>
<button type="default" class="remove" @onclick="Remove">Remove</button>
 


@if (!string.IsNullOrEmpty(Principal.console)){

    <div class="console">

        @foreach(string linea in @Principal.console.Split('\n')){
            <p style="font-size:20px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: black;
                margin:30px;
    ">@linea</p><br>
            Console.WriteLine(linea);
        }
        
    </div>
        
    
    
}



@code {


    string Text="";
    int currentCount=0;
    public void Resultado(){
        Principal.Text=Text;
        Principal.console="";
        Console.WriteLine("Start !");
        try{
            Principal.Principal2(JS);
        }
       catch(Exception ex){
           Console.WriteLine("An error has ocurred in your program");
            
       }
        currentCount++;
    }   
    private void Remove(){
        Text="";
    }
}


