
canvas{
  top:80px;
  right:100px;
  position: absolute;
  align: center;
  width: 800px;
  height: 800px;
  background: rgba(255,255,255,.1);
  box-shadow: 0 25px 45px rgba(0,0,0,.2);
  border-radius: 50px;
  border:2px solid rgba(255,255,255,.5);
  border-right: 2px solid rgba(255,255,255,.2);
  border-bottom: 2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(10px);
}