@page "/"
@namespace MoogleServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    <head>
    <script src="libraries/p5.min.js"></script>
    <script src="libraries/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
    <script src="sketch.js"></script>
  </body>
   
}


<component type="typeof(App)" render-mode="ServerPrerendered" />





<script>
        function showAlert(message){
            var element=document.getElementById("p-container");
            var newElement=document.createElement("p");

            newElement.innerHTML="Appened paragraph";
            element.append(newElement);

            return message;
        }

        
</script>